*,
*::after,
*::before{
    font-family: 'Castoro', serif !important;
    box-sizing: border-box;
    letter-spacing: 1.5px;
    line-height: 1.5;
}
a{
    text-decoration:none;
    color: #000;
}

img {
    vertical-align: middle;
}

.container{
    margin: 0 auto;
}

/* bgc */
.bg-dark{
    background-color: #000
}
.bg-write{
    background-color: #fff
}
.bg-ef{
    background-color: #EFEFEF;
}

/* color */
.text-warm{
    color: #AE0000;
}
.border-warm{
    border-bottom: 3px solid #AE0000;
}
.text-mid{
    color: #949494;
    font-style: italic;
}

/* font typo */
.fz-128{
    font-size: 128px;
    letter-spacing: 15.36px;
    line-height: 192px;
}
.fz-40{
    font-size: 40px;
    line-height: 60px;
}
.fz-32{
    font-size: 32px;
    line-height: 48px;
}
.fz-24{
    font-size: 24px;
    line-height: 36px;
}
.fz-20{
    font-size: 20px;
    line-height: 30px;
}


/* spacing margin */
.mr-40{
    margin-right: 40px;
}
.mr-20{
    margin-right: 20px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-12{
    margin-bottom: 12px;
}
.mb-8{
    margin-bottom: 8px;
}
/* spacing padding */
.px-312{
    padding: 0 312px;
}
.py-48{
    padding: 48px 0;    
}
.py-24{
    padding: 24px 0;
}
.py-20{
    padding: 20px 0;
}
.pt-160{
    padding-top: 160px;
}

/* header 頁首 */
.container img{
    display: block;
    margin: 0 auto; 
}
.container h2{
    margin-left:auto;
    width:50%;
}
/* web content 網頁內容 */
.introduce-text{
    /* width:636px; */
    margin-left:auto;
    width:50%;
}
.my_information{
    padding: 80px 312px 160px 312px;
    width: 100%;
}
section{
    width: 636px;
    margin-bottom: 40px; 
}
/* footer 頁尾 */
.link-ltem{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 0;
}
.link-ltem a{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.link-ltem a:hover{
    opacity: 0.7;
    transition: all 0.2s ease-in-out;
}